<a href="{{ path('entity.node.canonical', {'node': nid}) }}" class="random-{{ bundle|clean_class }}-teaser" tabindex="0">
  <img src="{{ image }}" alt="{{ image_alt }}" />
  <div class="overlay"></div>
  <p class="teaser-item-label">{{ title }}</p>
</a>
